<div id="corporativo">


  <div class="container">
    <div class="col-12">
      <div class="users-list-filter px-2">
        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
          <div class="row border rounded py-2 mb-2 mx-n2">
            <div class="col-12 col-sm-6 col-lg-3"><label for="users-list-verified">STATUS</label>
              <fieldset class="form-group"><select id="users-list-verified" class="form-control">
                  <option value="">Todos</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select></fieldset>
            </div>
            <div class="col-12 col-sm-6 col-lg-3"><label for="users-list-role">CREADO POR</label>
              <fieldset class="form-group"><select id="users-list-role" class="form-control">
                  <option value="">Todos</option>
                  <option value="User">User</option>
                  <option value="Staff">Staff</option>
                </select></fieldset>
            </div>
            <div class="col-12 col-sm-6 col-lg-3"><label for="users-list-status">ASIGNADO A</label>
              <fieldset class="form-group"><select id="users-list-status" class="form-control">
                  <option value="">Todos</option>
                  <option value="Active">Active</option>
                  <option value="Close">Close</option>
                  <option value="Banned">Banned</option>
                </select></fieldset>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center"><button type="reset"
                class="btn btn-primary btn-block users-list-clear glow mb-0"> Clear </button></div>
          </div>
        </form>
      </div>
    </div>

    <!-- cuerpo -->
    <div class="body">

      <label>MOSTRAR <select name="users-list-select"
          class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select> ENTRADAS</label>
      <label for="ngx-filter-ref" class="float-right">BUSCAR:
        <input id="ngx-filter-ref" type="text" class="form-control form-control-sm d-inline-block width-200 ml-1">
      </label>


      <table class="table table-hover table-responsive-md table-fixed">
        <thead>
          <tr class="table-dark">
            <th>CORPORATIVO</th>
            <th>URL</th>
            <th>INCORPORACIÓN</th>
            <th>CREADO EL</th>
            <th>ASIGNADO A</th>
            <th>STATUS</th>
            <th>ASIGNACIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of onecrop">
            <td><img [src]="item.S_LogoURL" alt="10%">
              {{item.S_DBName}}
            </td>
            <td>{{item.S_NombreCompleto}}</td>
            <td>{{item.D_FechaIncorporacion | date: 'dd-MMM-yyyy'}}</td>
            <td>{{item.created_at | date: 'dd-MMM-yyyy'}}</td>
            <td>{{item.user_created.S_Nombre}}</td>
            <td>
              <button *ngIf="item.S_Activo===0"
                class="btn btn-primary btn-block users-list-clear glow mb-0">Inactivo</button>
              <button *ngIf="item.S_Activo===1" class="badge bg-light-success ng-star-inserted">Activo</button>
            </td>
            <td class="icon">
              <i class="fa fa-eye" aria-hidden="true"></i>
              <i class="far fa-check-circle"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    
  </div>
</div>
