#corporativo{


.header {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(143, 139, 139);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);

    select{
        width: 80%;
    }
    
}
.body {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    box-shadow: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    table{
        font-size: 11px;
        thead{
            font-size: 11px;
        }

        tbody{
            td{
                img{
                    width: 30px;
                }
                &.icon{
                    padding: auto;
                    i {
                        margin: 5px;

                        &.fa-eye {
                            color: rgb(8, 82, 151);
                        }
                    }
                }
            }
        }

    }
}
}